h1, .title{
  color:black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}

header{
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgb(232, 244, 248); opacity:0.7;
}

body{
  background-image:url("IMG_1396.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  width: 100%;
  height: auto;
}

img{
  width: 40%;
  height: 450px;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 100%;
  display: block;
}

h2{
  font-style: bold;
  text-align: center;
}

.first-box, .third-box, .second-box{
  border: 1px solid black;
  background-color: rgb(232, 244, 248); opacity:0.7;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

.second-box{
  text-align:left;
}

a:link{color:blue}
a:visited{color:darkgreen}
a:hover{color:crimson}
a:active{color:lightpink}
